<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12398867805-3t8ijtejc7dibs5rmorc3u1umqsnth3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12398867805-3t8ijtejc7dibs5rmorc3u1umqsnth3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAxHyWSc33bnCT-Y5UAQjZ5Wm0nkBzkoi4</string>
	<key>GCM_SENDER_ID</key>
	<string>12398867805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewbrown.parks</string>
	<key>PROJECT_ID</key>
	<string>npsreactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>npsreactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12398867805:ios:7a584f9470be4ef82f24b4</string>
</dict>
</plist>